<section class="flexcol">
  {{#if (or system.behavior equippedMagatama)}}
  <div class="items-list">
    <ol class="stat-list">
      <li class="item flexrow">
        {{#if system.behavior}}
        <div class="item-prop">{{localize "SMT.bio.behavior"}}</div>
        <input class="flex3" type="text" value="{{system.behavior}}" placeholder="{{localize "SMT.none"}}" data-dtype="String" disabled />
        {{/if}}
        {{#if equippedMagatama}}
        <div class="item-prop">{{localize "TYPES.Item.magatama"}}</div>
        <input class="flex3" type="text" value="{{equippedMagatama.name}}" disabled />
        {{/if}}
      </li>
    </ol>
  </div>
  {{/if}}

  <div class="flexcol">
    <div class="flexrow">
      <div class="flex3">
        {{> "systems/smt-tc/templates/parts/affinities.hbs"}}
      </div>

      {{> "systems/smt-tc/templates/parts/actor/buffs.hbs"}}
    </div>
    {{!-- Affinity Pane --}}
    
    <div class="flexrow">
      <div class="flex3">
        {{> "systems/smt-tc/templates/parts/actor/stats.hbs"}}
      </div>

      <div class="flexcol">
        {{!-- Buffs/Derived/Mods stack --}}
        {{> "systems/smt-tc/templates/parts/actor/derived-stats.hbs"}}
        {{> "systems/smt-tc/templates/parts/actor/mods.hbs"}}
      </div>
    </div>
  </div>

  {{#if (and (eq actor.type "human") showWeaponsPane)}}
  {{> "systems/smt-tc/templates/parts/actor/weapons.hbs" weapons=equippedWeapons}}
  {{/if}}
  {{> "systems/smt-tc/templates/parts/actor/skills.hbs"}}
</section>
