<form class="flexcol">
  <h2>{{attackName}}</h2>

  {{{description}}}

  {{#if consumeOnUse}}
  <h3>{{localize "SMT.itemRoll.consumeItem"}}</h3>
  {{/if}}

  {{#if powerRollRender}}
  <div class="flexrow">
    <div class="resource-label">{{localize "SMT.dialog.potency"}}</div>
    <input
      class="flex3"
      type="number"
      name="potency"
      data-dtype="Number"
      placeholder="0"
      {{ifThen powerRollRender "autofocus" ""}}
    />
  </div>
  {{/if}}

  {{#unless auto}}
  <div class="flexrow">
    <div class="resource-label">{{localize "SMT.dialog.tnMod"}}</div>
    <input
      class="flex3"
      type="number"
      name="tnMod"
      data-dtype="Number"
      placeholder="0"
      {{ifThen (and auto (not powerRollRender)) "autofocus" ""}}
    />
  </div>
  {{/unless}}
</form>