<h2>{{localize "SMT.itemRoll.targets"}}</h2>
{{#each targets}}
  {{#if ../powerRollRender}}
  <h3>{{localize (concat "SMT.itemRoll.affinityLabel." affinityLevel) name=name}}</h3>
    {{#if ../criticalHit}}
    <p>{{localize (concat "SMT.itemRoll.critTarget." (ifThen isHealing "healing" "damage"))
      resist=(lookup this.resist ../damageType)
      type=(localize (concat "SMT.resist." ../damageType))
      damage=damage
      critDamage=critDamage
      }}</p>
    {{else}}
      <p>{{localize (concat "SMT.itemRoll.target." (ifThen isHealing "healing" "damage"))
        resist=(lookup this.resist ../damageType)
        type=(localize (concat "SMT.resist." ../damageType))
        damage=damage
      }}</p>
    {{/if}}
    {{#if fly}}
    <p>{{localize "SMT.itemRoll.targetFlied" name=name}}</p>
    {{/if}}
  {{else}}
    <p>{{this.name}}</p>
  {{/if}}
  {{#unless @last}}<hr />{{/unless}}
{{/each}}