<section class="affinities">
  <div class="affinity-block">
    {{#each SMT.defenseAffinities as |loc affinity|}}
    <div class="affinity-item">
      <div class="tooltip">
        <img src="systems/smt-tc/img/affinity/{{affinity}}.jpg" width="82" height="28" />
        <span class="tooltip-text">{{localize loc}}</span>
      </div>
      <select name="system.affinities.{{affinity}}" {{ifThen (eq ../actor.type "fiend") "disabled" ""}}>
        {{selectOptions ../SMT.affinityLevels localize=true selected=(lookup ../system.affinities affinity)}}
      </select>
    </div>
    {{/each}}
  </div>
</section>