<section class="item-config">
  <div class="items-list flexcol">
    <ol class="stat-list">
      <li class="item flexrow">
        <label for="weapon-type" class="item-prop">{{localize "SMT.itemSheet.weaponType"}}</label>
        <div class="item-prop">
          <select id="weapon-type" name="system.weaponType">
            {{selectOptions SMT.weaponTypes localize=true selected=system.weaponType}}
          </select>
        </div>

        <label for="potency" class="item-prop">{{localize "SMT.itemSheet.potency"}}</label>
        <div class="item-prop">
          <input type="number" id="potency" name="system.attackData.potency" value="{{system.attackData.potency}}" placeholder="0" data-dtype="Number" />
        </div>

        <label for="affinity" class="item-prop">{{localize "SMT.itemSheet.affinity"}}</label>
        <div class="item-prop">
          <select id="affinity" name="system.attackData.affinity">
            {{selectOptions SMT.attackAffinities localize=true selected=system.attackData.affinity}}
          </select>
        </div>

        {{!-- Alternate fire cost --}}
        <label for="alternate-cost" class="item-prop">{{localize "SMT.itemSheet.alternateFireCost"}}</label>
        <div class="item-prop">
          <input type="number" id="alternate-cost" name="system.alternateCost" value="{{system.alternateCost}}"
            placeholder="0" data-dtype="Number" />
        </div>
      </li>

      <li class="item flexrow">
        {{#if (eq system.weaponType "gun")}}
        <label for="ammo-value" class="item-prop">{{localize "SMT.itemSheet.ammo"}}</label>
        <div class="item-prop">
          <input type="number" id="ammo-value" name="system.ammo.value" value="{{system.ammo.value}}" placeholder="0" data-dtype="Number" />
        </div>
        <span> / </span>
        <div class="item-prop">
          <input type="number" id="ammo-max" name="system.ammo.max" value="{{system.ammo.max}}" placeholder="0" data-dtype="Number" />
        </div>
        {{else}}
          {{#if (eq system.weaponType "grenade")}}
          <label for="qty" class="item-prop">{{localize "SMT.itemSheet.qty"}}</label>
          <div class="item-prop">
            <input type="number" id="qty" name="system.qty" value="{{system.qty}}" placeholder="0" data-dtype="Number" />
          </div>
          {{/if}}
        {{/if}}

        <label for="price" class="item-prop">{{localize "SMT.itemSheet.price"}}</label>
        <input type="number" id="price" name="system.price" value="{{system.price}}" placeholder="0" data-dtype="Number" />

        {{!-- Can be dodged? --}}
        <label for="canBeDodged" class="item-prop">{{localize "SMT.itemSheet.canBeDodged"}}</label>
        <div class="item-prop">
          <input type="checkbox" id="canBeDodged" name="system.attackData.canBeDodged" data-dtype="Boolean"
            {{checked system.attackData.canBeDodged}} />
        </div>
      </li>
    </ol>
  </div>
</section>