<section class="armor">
  <div class="items-list flexcol">
    <ol class="stat-list">
      <li class="item item-prop flexrow">
        {{!-- Phys Resist --}}
        <label for="phys-resist-field">{{localize "SMT.resist.phys"}}</label>
        <div class="item-prop">
          <input type="number" id="phys-resist-field" name="system.resistBonus.phys" value="{{system.resistBonus.phys}}" placeholder="0" data-dtype="Number" />
        </div>
        {{!-- Mag Resist --}}
        <label for="mag-resist-field">{{localize "SMT.resist.mag"}}</label>
        <div class="item-prop">
          <input type="number" id="mag-resist-field" name="system.resistBonus.mag" value="{{system.resistBonus.mag}}"
            placeholder="0" data-dtype="Number" />
        </div>
      </li>
      
      <li class="item item-prop flexrow">
        {{!-- Equipped? --}}
        <label for="equipped-field">{{localize "SMT.itemSheet.equipped"}}</label>
        <div class="item-prop">
          <input type="checkbox" id="equipped-field" name="system.equipped" data-dtype="Boolean" {{checked system.equipped}} />
        </div>
        {{!-- Use affinities? --}}
        <label for="use-affinity-field">{{localize "SMT.itemSheet.useAffinities"}}</label>
        <div class="item-prop">
          <input type="checkbox" id="use-affinity-field" name="system.useAffinities" data-dtype="Boolean"
            {{checked system.useAffinities}} />
        </div>
      </li>
    </ol>
  </div>
{{#if system.useAffinities}}
{{> "systems/smt-tc/templates/parts/shared/affinities.hbs"}}
{{/if}}
</section>