<section class="awards">
  <div class="items-list flexcol">
    <ol class="stat-list">
      <li class="item flexrow items-header">
        <div>{{localize "SMT.actorSheet.awards"}}</div>
      </li>

      <li class="item flexrow">
        {{!-- XP Award --}}
        <div class="item-prop">{{localize "SMT.awards.xp"}}</div>
        <input type="number" name="system.awards.xp" value="{{system.awards.xp}}" placeholder="0" data-dtype="Number" />
        {{!-- Macca Award --}}
        <div class="item-prop">{{localize "SMT.awards.macca"}}</div>
        <input type="number" name="system.awards.macca" value="{{system.awards.macca}}" placeholder="0"
          data-dtype="Number" />
        {{!-- Item Award --}}
        <div class="item-prop">{{localize "SMT.awards.itemDrops"}}</div>
        <input type="text" name="system.awards.itemDrops" value="{{system.awards.itemDrops}}" placeholder="{{localize "SMT.none"}}" data-dtype="String" />
      </li>
    </ol>
  </div>
</section>