<section class="demon">
  <div class="items-list flexcol">
    <ol class="stat-list">
      <li class="item flexrow items-header">
        <div>{{localize "SMT.bio.demonInfo"}}</div>
      </li>

      <li class="item flexrow">
        <div class="item-prop">{{localize "SMT.bio.behavior"}}</div>
        <input class="flex3" type="text" name="system.behavior" value="{{system.behavior}}" placeholder="{{localize "SMT.none"}}"
          data-dtype="String" />
      </li>

      <li class="item flexrow">
        <div class="item-prop">{{localize "SMT.bio.inheritType"}}</div>
        <input class="flex3" type="text" name="system.inheritType" value="{{system.inheritType}}" placeholder="{{localize "SMT.none"}}"
          data-dtype="String" />
      </li>

      <li class="item flexrow">
        <div class="item-prop">{{localize "SMT.bio.evolvePath"}}</div>
        <input class="flex3" type="text" name="system.evolvePath" value="{{system.evolvePath}}" placeholder="{{localize "SMT.none"}}"
          data-dtype="String" />
      </li>

      <li class="item flexrow">
        <div class="item-prop">{{localize "SMT.bio.favoredStat"}}</div>
        <select name="system.favoredStat">
          {{selectOptions SMT.statsFull localize=true selected=system.favoredStat}}
        </select>
      </li>
    </ol>
  </div>
</section>