<section class="derived-stats">
  <div class="items-list flexcol">
    <ol class="stat-list">
      <li class="item flexrow items-header">
        <div>{{localize "SMT.actorSheet.derivedStats"}}</div>
      </li>

      <li class="item flexrow">
        <div class="item-prop">{{localize "SMT.power.phys"}}</div>
        <div class="item-prop">{{system.power.phys}}</div>
      </li>

      <li class="item flexrow">
        <div class="item-prop">{{localize "SMT.power.mag"}}</div>
        <div class="item-prop">{{system.power.mag}}</div>
      </li>

      <li class="item flexrow">
        <div class="item-prop">{{localize "SMT.resist.phys"}}</div>
        <div class="item-prop">{{system.resist.phys}}</div>
      </li>

      <li class="item flexrow">
        <div class="item-prop">{{localize "SMT.resist.mag"}}</div>
        <div class="item-prop">{{system.resist.mag}}</div>
      </li>
    </ol>
  </div>
</section>