<section class="derived-stats">
  <div class="items-list flexcol">
    <ol class="stat-list">
      <li class="item flexrow items-header">
        <div>{{localize "SMT.actorSheet.derivedStats"}}</div>
      </li>

      <li class="item flexrow tooltip">
        <div class="item-prop">{{localize "SMT.power.phys"}}</div>
        <div class="item-prop">{{system.power.phys}}</div>
        <span class="tooltip-text">{{localize "SMT.formula.physPower"}}</span>
      </li>

      <li class="item flexrow tooltip">
        <div class="item-prop">{{localize "SMT.power.mag"}}</div>
        <div class="item-prop">{{system.power.mag}}</div>
        <span class="tooltip-text">{{localize "SMT.formula.magPower"}}</span>
      </li>

      <li class="item flexrow tooltip">
        <div class="item-prop">{{localize "SMT.resist.phys"}}</div>
        <div class="item-prop">{{system.resist.phys}}</div>
        <span class="tooltip-text">{{localize "SMT.formula.physResist"}}</span>
      </li>

      <li class="item flexrow tooltip">
        <div class="item-prop">{{localize "SMT.resist.mag"}}</div>
        <div class="item-prop">{{system.resist.mag}}</div>
        <span class="tooltip-text">{{localize "SMT.formula.magResist"}}</span>
      </li>
    </ol>
  </div>
</section>