<section class="derived-stats">
  <div class="items-list flexcol">
    <ol class="stat-list">
      <li class="item flexrow items-header">
        <div>{{localize "SMT.actorSheet.derivedStats"}}</div>
      </li>

      <li class="item flexrow roll-highlight sheet-roll" data-attack-type="phys">
        <div class="item-prop">{{localize "SMT.power.phys"}}</div>
        <div class="item-prop">{{system.power.phys}}</div>
      </li>

      <li class="item flexrow roll-highlight sheet-roll" data-attack-type="mag">
        <div class="item-prop">{{localize "SMT.power.mag"}}</div>
        <div class="item-prop">{{system.power.mag}}</div>
      </li>

      {{#if (eq actor.type "human")}}
      <li class="item flexrow roll-highlight sheet-roll" data-attack-type="gun">
        <div class="item-prop">{{localize "SMT.power.gun"}}</div>
        <div class="item-prop">{{system.power.gun}}</div>
      </li>
      {{/if}}

      <li class="item flexrow">
        <div class="item-prop">{{localize "SMT.resist.phys"}}</div>
        <div class="item-prop">{{system.resist.phys}}</div>
      </li>

      <li class="item flexrow">
        <div class="item-prop">{{localize "SMT.resist.mag"}}</div>
        <div class="item-prop">{{system.resist.mag}}</div>
      </li>
    </ol>
  </div>
</section>