<section class="settings">
  <div class="items-list flexcol">
    <ol class="stat-list">
      <li class="item flexrow items-header">
        <div>{{localize "SMT.actorSheet.settings"}}</div>
      </li>

      <li class="item item-prop flexrow">
        <div class="item-prop">
          {{localize "SMT.actorSettings.incenseUsed"}}
        </div>

        <div class="item-prop">
          <input type="number" name="system.incenseUsed" value="{{system.incenseUsed}}"
            placeholder="0" data-dtype="Number" />
        </div>
      </li>

      <li class="item item-prop flexrow">
        <div class="item-prop">
          {{localize "SMT.actorSheet.isNPC"}}
        </div>

        <div class="item-prop">
          <input type="checkbox" name="system.isNPC" data-dtype="Boolean" {{checked system.isNPC}} />
        </div>
      </li>
    </ol>
  </div>
</section>