<section class="skills">
  <div class="items-list flexcol flexlarge">
    <ol class="item-list">
      <li class="item flexrow items-header">
        <div>#</div>
        {{!-- Skill --}}
        <div class="flex2">{{localize "TYPES.Item.skill"}}</div>
        {{!-- Cost or Ammo Count --}}
        <div>{{localize "SMT.actorSheet.cost"}}</div>
        {{!-- TN --}}
        <div>{{localize "SMT.actorSheet.tn"}}</div>
        {{!-- Potency --}}
        <div>{{localize "SMT.itemSheet.potency"}}</div>
        {{!-- Total Power --}}
        <div>{{localize "SMT.itemSheet.power"}}</div>
        {{!-- Target --}}
        <div>{{localize "SMT.itemSheet.target"}}</div>
        {{!-- Element --}}
        <div>{{localize "SMT.itemSheet.affinity"}}</div>
        {{!-- Ailment --}}
        <div>{{localize "SMT.actorSheet.ailment"}}</div>
        {{!-- Type --}}
        <div>{{localize "SMT.skillDetails.type"}}</div>
        <div class="item-controls">
          <a class="item-control item-create" title="{{localize "SMT.sheet.newItem"}}" data-item-type="skill">
            <i class="fas fa-plus"></i> {{localize "SMT.sheet.addItem"}}</a>
        </div>
      </li>

      {{#each skills}}
      <li class="item item-entry flexrow flex-group-center flex-between" data-item-id="{{id}}">
        <div class="item-prop">{{ifThen (eq @key 0) "—" @key}}</div>
        {{!-- Skill --}}
        <a class="item-name flex3 item-roll">
          <div class="item-image">
            <img src="{{img}}" title="{{name}}" width="24" height="24" />
          </div>
          {{name}}
        </a>

        {{!-- Cost or Ammo Count --}}
        <div class="item-prop">
          {{#if system.oneShot}}
          <input class="item-field-toggle" type="checkbox" data-field-id="used" data-dtype="Boolean"
            {{checked system.used}} {{ifThen system.oneShot "" "disabled"}} />
          {{else}}
          {{#if (or (eq system.attackData.attackType "passive") (eq system.attackData.attackType "talk") (eq @key 0))}}
          —
          {{else}}
          {{localize "SMT.skillDetails.costShort" cost=(ifThen system.cost system.cost "0") resource=(ifThen (eq system.attackData.attackType "phys") "HP" "MP")}}
          {{/if}}
          {{/if}}
        </div>

        {{!-- TN --}}
        <div class="item-prop">
          {{#unless (or system.attackData.auto (eq system.attackData.attackType "passive"))}}
          {{system.attackData.tn}}%
          {{else}}
          {{ifThen system.attackData.auto (localize "SMT.itemSheet.auto") "—"}}
          {{/unless}}
        </div>

        {{!-- Potency --}}
        <div class="item-prop">{{#if system.attackData.hasPowerRoll}}{{system.attackData.potency}}{{else}}—{{/if}}</div>

        {{!-- Total Power --}}
        <div class="item-prop">{{#if system.attackData.hasPowerRoll}}{{system.attackData.totalPower}}{{else}}—{{/if}}</div>

        {{!-- Target --}}
        <div class="item-prop">
          {{#unless (eq system.attackData.attackType "passive")}}{{localize (concat "SMT.targets." system.attackData.target)}}{{else}}—{{/unless}}
        </div>

        {{!-- Affinity --}}
        <div class="item-prop">
          {{#unless (eq system.attackData.attackType "passive")}}{{localize (concat "SMT.affinities." system.attackData.affinity)}}{{else}}—{{/unless}}
        </div>

        {{!-- Ailment --}}
        <div class="item-prop">
          {{#if system.attackData.ailment.id}}
          {{localize (concat "SMT.ailments." system.attackData.ailment.id)}} {{system.attackData.ailment.rate}}%
          {{else}}
          —
          {{/if}}
        </div>

        {{!-- Type --}}
        <div class="item-prop">{{localize (concat "SMT.skillTypesShort." system.attackData.attackType)}}</div>

        <div class="item-controls">
          <a class="item-control item-edit" title="{{localize "SMT.sheet.editItem"}}"><i class="fas fa-edit"></i></a>
          {{#unless (eq @key 0)}}<a class="item-control item-delete" title="{{localize "SMT.sheet.deleteItem"}}"><i
              class="fas fa-trash"></i></a>{{/unless}}
        </div>
      </li>
      {{/each}}
    </ol>
  </div>
</section>