<section class="stats">
  <div class="items-list flexcol">
    <ol class="stat-list">
      <li class="item flexrow items-header">
        {{!-- Stat Name --}}
        <div>{{localize "SMT.actorSheet.stats"}}</div>
        {{!-- Base --}}
        <div>{{localize "SMT.actorSheet.baseStat"}}</div>
        {{!-- Magatama Mod--}}
        {{!-- TODO: This is an item now, fix it to work right --}}
        {{!-- LV points --}}
        <div>{{localize "SMT.actorSheet.levelShort"}}</div>
        {{!-- Total Stat --}}
        <div>{{localize "SMT.actorSheet.statTotal"}}</div>
        {{!-- Stat TN --}}
        <div>{{localize "SMT.actorSheet.tn"}}</div>
        {{!-- Special TN label --}}
        <div class="flex2">{{localize "SMT.actorSheet.derivedTN"}}</div>
        {{!-- Special TN --}}
        <div>{{localize "SMT.actorSheet.tn"}}</div>
      </li>

      {{#each system.stats}}
      <li class="item flexrow">
        {{!-- Stat Name --}}
        <div class="item-prop">{{localize (concat "SMT.statShort." @key)}}</div>
        {{!-- Base --}}
        {{!-- TODO: Add a button to toggle base stats being editable, or something --}}
        <div class="item-prop">
          <input type="number" name="system.stats.{{@key}}.base" value="{{base}}" placeholder="0" data-dtype="Number" />
        </div>
        {{!-- Magatama Mod --}}
        {{!-- See above --}}
        {{!-- Lv points --}}
        <div class="item-prop"><input type="number" name="system.stats.{{@key}}.lv" value="{{lv}}" placeholder="0"
            data-dtype="Number" />
        </div>
        {{!-- Total Stat --}}
        <div class="item-prop">{{value}}</div>
        {{!-- Stat TN --}}
        <div class="item-prop roll-highlight hit-roll" data-tn-type="{{@key}}">{{lookup ../system.tn @key}}%</div>
        {{!-- Derived TN label --}}
        <div class="item-prop item-name flex2">{{localize (concat "SMT.derivedTN." @key)}}</div>
        {{!-- Derived TN --}}
        {{#if (eq @key "st")}}
        <div class="item-prop roll-highlight attack-roll" data-attack-type="phys">{{../system.tn.phys}}%</div>
        {{else}}
        {{#if (eq @key "ma")}}
        <div class="item-prop roll-highlight attack-roll" data-attack-type="mag">{{../system.tn.mag}}%</div>
        {{else}}
        <div class="item-prop roll-highlight hit-roll" data-tn-type="{{derivedTN}}">{{lookup ../system.tn derivedTN}}%</div>
        {{/if}}
        {{/if}}
      </li>
      {{/each}}
    </ol>
  </div>
</section>