{{! "Phys Attack", "Mag Attack", "Gun Attack" }}
<h1>{{attackName}}</h1>
{{! "TN: XX%" }}
<h3>{{localize "SMT.diceOutput.tn" tn=tn}}</h3>
{{! "Success!", "Failed!", etc. }}
<h3>{{localize (concat "SMT.successLevel." successLevel)}}!</h3>
{{{hitRoll}}}

{{#if powerRoll}}
{{! Power: XX }}
<h3>{{localize "SMT.diceOutput.power" power=power}}</h3>
{{{powerRoll}}}
{{/if}}