{{!-- Name of the skill/item/weapon --}}
<h1>{{itemName}}</h1>

{{!-- Affinity (take another look at this) --}}
{{#if affinity}}
<h3>{{localize "SMT.itemRoll.affinity" affinity=(localize (concat "SMT.affinities." affinity))}}</h3>
{{/if}}

{{!-- Cost --}}
{{#if (ne costType "none")}}
  {{!-- Show the cost, e.g. "Cost: XX HP" or "Item Consumed" or "Ammo Consumed" --}}
  <h3>{{localize "SMT.itemRoll.cost" costLabel=(localize (concat "SMT.costTypes." costType) cost=cost)}}</h3>
{{/if}}

{{!-- Item Description --}}
{{{description}}}

{{#unless costPaid}}
  <h2>{{localize "SMT.itemRoll.costNotPaid"}}</h2>
{{else}}
  {{!-- Accuracy Roll --}}
  {{#unless auto}}
    {{!-- Dice result, e.g. "Success! Critical success! Autofail!" --}}
    <h2>{{localize "SMT.itemRoll.tn" tn=tn result=(localize (concat "SMT.successLevel." successLevel) autofail=autoFailThreshold)}}</h2>
    {{!-- Render roll --}}
    {{{successRoll}}}
    {{else}}
    <h2>{{localize "SMT.successLevel.auto"}}</h2>
  {{/unless}}

  {{!-- Power Roll --}}
  {{#if (and (or fumble success) hasPowerRoll)}}
    {{!-- Total Power (still display normal power if a critical hit, in case it's downgraded --}}
    {{#if criticalHit}}
      <h3>{{localize "SMT.itemRoll.critPower" critPower=critPower power=power}}</h3>
      {{else}}
      <h3>{{localize "SMT.itemRoll.totalPower" power=power}}</h3>
    {{/if}}
    {{#if pinhole}}
      {{localize "SMT.itemRoll.pinhole"}}
    {{/if}}
    {{#if pierce}}
    {{localize "SMT.itemRoll.pierce"}}
    {{/if}}
    {{!-- Render roll --}}
    {{{powerRoll}}}
  {{/if}}

  {{!-- Ailment --}}
  {{#if (and (or fumble success) ailment)}}
    {{!-- ailmentName: Rate --}}
    {{!-- Also show normal rate if it's a crit, like for power --}}
    {{#if criticalHit}}
      <h3>{{localize "SMT.itemRoll.critAilment"
        ailment=(localize (concat "SMT.ailments." ailment.id)) rate=ailment.rate ailmentCritRate=ailmentCritRate}}</h3>
      {{else}}
      <h3>{{localize "SMT.itemRoll.ailment" ailment=(localize (concat "SMT.ailments." ailment.id)) rate=ailment.rate}}</h3>
    {{/if}}
  {{/if}}

  {{#if (and success targets)}}
    <h3>{{localize "SMT.itemRoll.targets"}}</h3>
    {{#each targets}}
      {{#if ../hasPowerRoll}}
        {{#if ../criticalHit}}
        <p>{{localize "SMT.itemRoll.critTarget"
          name=this.name
          resist=(lookup this.resist ../damageType)
          type=(localize (concat "SMT.resist." ../damageType))
          damage=damage
          critDamage=critDamage
          }}</p>
        {{else}}
        <p>{{localize "SMT.itemRoll.target"
          name=this.name
          resist=(lookup this.resist ../damageType)
          type=(localize (concat "SMT.resist." ../damageType))
          damage=damage
          }}</p>
        {{/if}}
        {{#if flied}}
        <p>{{localize "SMT.itemRoll.targetFlied" name=name}}</p>
        {{/if}}
      {{else}}
        <p>{{this.name}}</p>
      {{/if}}
    {{/each}}
  {{/if}}
  {{!-- {{#if (and success canDodge)}} --}}
    {{!-- If this can be dodged, show a dodge button --}}
  {{!-- {{/if}} --}}
{{/unless}}
