{{!-- Name of the skill/item/weapon --}}
<h1>{{checkName}}</h1>

{{!-- Affinity --}}
{{#if affinity}}
<h3>{{localize "SMT.itemRoll.affinity" affinity=(localize (concat "SMT.affinities." affinity))}}</h3>
{{/if}}

{{#if (or (ne costType "none") targetType)}}
<h3>
  {{#if (ne costType "none")}}
    {{localize "SMT.itemRoll.cost" costLabel=(localize (concat "SMT.costTypes." costType) cost=(ifThen costsAll (localize "SMT.costTypes.all") cost))}}; 
  {{/if}}

  {{#if targetType}}
    {{localize "SMT.itemRoll.targetType" targetType=(localize (concat "SMT.targets." targetType))}}
  {{/if}}
</h3>
{{/if}}

{{!-- Item Description --}}
{{{description}}}

{{#unless costPaid}}
  <h2>{{localize "SMT.itemRoll.costNotPaid"}}</h2>
{{else}}
  {{!-- Accuracy Roll --}}
  {{#if successRollRender}}
    {{!-- Dice result, e.g. "Success! Critical success! Autofail!" --}}
    <h2>{{localize "SMT.itemRoll.tn"
      tn=tn
      result=(localize (concat "SMT.successLevel." successLevel) autoFailThreshold=autoFailThreshold)
    }}</h2>
    {{!-- Render roll --}}
    {{{successRollRender}}}
  {{else}}
    {{#if auto}}
    <h2>{{localize "SMT.successLevel.auto"}}</h2>
    {{/if}}
  {{/if}}

  {{!-- Non-Ailment Status --}}
  {{#if status}}
  <h3>{{localize "SMT.itemRoll.applyStatus" status=(localize (concat "SMT.statusEffects." status))}}</h3>
  {{/if}}

  {{!-- Power Roll --}}
  {{#if (and (or fumble success) powerRollRender)}}
    {{> "systems/smt-tc/templates/parts/chat/power-card-segment.hbs"}}
  {{/if}}

  {{!-- Ailment --}}
  {{#if (and (or fumble success) ailmentData)}}
    <h3>{{localize "SMT.itemRoll.ailment" ailment=(localize (concat "SMT.ailments." ailmentData.id)) rate=ailmentData.rate}}</h3>
    {{!-- Display buttons to roll vs. ailment (normal/weak/strong) --}}
    <div class="flexrow">
      <button type="button" class="card-ailment-roll" data-ailment-rate="{{ailmentData.rate}}">
        {{localize "SMT.itemRoll.ailmentButton.normal"}}
      </button>

      <button type="button" class="card-ailment-roll" data-ailment-rate="{{ailmentData.halfRate}}">
        {{localize "SMT.itemRoll.ailmentButton.half" rate=ailmentData.halfRate}}
      </button>

      <button type="button" class="card-ailment-roll" data-ailment-rate="{{ailmentData.doubleRate}}">
        {{localize "SMT.itemRoll.ailmentButton.double" rate=ailmentData.doubleRate}}
      </button>
    </div>
  {{/if}}

  {{!-- Curse --}}
  {{#if curseRollRender}}
    <h3>{{localize (concat "SMT.itemRoll.curse." (ifThen curseResult "hit" "miss"))}}</h3>
    {{{curseRollRender}}}
  {{/if}}

  {{!-- Target Data --}}
  {{#if (and success targets)}}
    {{> "systems/smt-tc/templates/parts/chat/target-card-segment.hbs"}}
  {{/if}}
{{/unless}}
