<section class="item-config">
  <div class="items-list flexcol">
    <ol class="stat-list">
      <li class="item flexrow">
        {{!-- HP/MP Cost | Consume on use? --}}
        <label for="consumeOnUse" class="item-prop">{{localize "SMT.itemSheet.consumeOnUse"}}</label>
        <div class="item-prop">
          <input type="checkbox" id="consumeOnUse" name="system.consumeOnUse" data-dtype="Boolean" {{checked system.consumeOnUse}} />
        </div>

        {{!-- Target --}}
        <label for="target" class="item-prop">{{localize "SMT.itemSheet.target"}}</label>
        <div class="item-prop">
          <select id="target" name="system.attackData.target">
            {{selectOptions SMT.targets localize=true selected=system.attackData.target}}
          </select>
        </div>

        {{!-- Affinity --}}
        <label for="affinity" class="item-prop">{{localize "SMT.itemSheet.affinity"}}</label>
        <div class="item-prop">
          <select id="affinity" name="system.attackData.affinity">
            {{selectOptions SMT.attackAffinities localize=true selected=system.attackData.affinity}}
          </select>
        </div>

        {{!-- Potency --}}
        <label for="potency" class="item-prop">{{localize "SMT.itemSheet.potency"}}</label>
        <div class="item-prop">
          <input type="number" id="potency" name="system.attackData.potency" value="{{system.attackData.potency}}" placeholder="0"
            data-dtype="Number" />
        </div>
      </li>

      <li class="item flexrow">
        {{!-- Ailment --}}
        <label for="ailment-id" class="item-prop">{{localize "SMT.itemSheet.ailment"}}</label>
        <div class="item-prop">
          <select id="ailment-id" name="system.attackData.ailment.id">
            {{selectOptions SMT.ailments localize=true selected=system.attackData.ailment.id blank=(localize "SMT.none")}}
          </select>
        </div>

        {{!-- Ailment Rate --}}
        <label for="ailmentRate" class="item-prop">{{localize "SMT.itemSheet.ailmentRate"}}</label>
        <div class="item-prop">
          <input type="number" id="ailmentRate" name="system.attackData.ailment.rate" value="{{system.attackData.ailment.rate}}"
            placeholder="0" data-dtype="Number" {{ifThen system.attackData.ailment.id "" "disabled"}} />
        </div>

        {{!-- Roll power? --}}
        <label for="hasPowerRoll" class="item-prop">{{localize "SMT.itemSheet.hasPowerRoll"}}</label>
        <div class="item-prop">
          <input type="checkbox" id="hasPowerRoll" name="system.attackData.hasPowerRoll" data-dtype="Boolean"
            {{checked system.attackData.hasPowerRoll}} />
        </div>

        {{!-- Can be dodged? --}}
        <label for="canBeDodged" class="item-prop">{{localize "SMT.itemSheet.canBeDodged"}}</label>
        <div class="item-prop">
          <input type="checkbox" id="canBeDodged" name="system.attackData.canBeDodged" data-dtype="Boolean"
            {{checked system.attackData.canBeDodged}} />
        </div>
      </li>
    </ol>
  </div>
</section>