<section class="item-config">
  <div class="items-list flexcol">
    <ol class="stat-list">
      <li class="item flexrow">
        {{!-- Attack type "phys" | "mag" | "gun" | "spell" | "passive" | "talk" --}}
        <label for="attack-type" class="item-prop">{{localize "SMT.itemSheet.attackType"}}</label>
        <div class="item-prop">
          <select id="attack-type" name="system.attackData.attackType">
            {{selectOptions SMT.skillTypes localize=true selected=system.attackData.attackType}}
          </select>
        </div>
        {{!-- HP/MP Cost | Consumable (e.g. Luck Smiles, "should consumables be used up") --}}
        {{#unless (or (eq system.attackData.attackType "talk") (eq system.attackData.attackType "passive"))}}
        <label for="cost" class="item-prop">{{localize "SMT.itemSheet.cost"}}</label>
        <div class="item-prop">
          <input type="number" id="cost" name="system.cost" value="{{system.cost}}" placeholder="0" data-dtype="Number" />
        </div>
        {{else}}
        {{#if (eq system.attackData.attackType "passive")}}
        <label for="oneShot" class="item-prop">{{localize "SMT.itemSheet.oneShot"}}</label>
        <div class="item-prop">
          <input type="checkbox" id="oneShot" name="system.oneShot" data-dtype="Boolean" {{checked system.oneShot}} />
        </div>
        {{/if}}
        {{/unless}}
        {{!-- Potency --}}
        {{#unless (or (eq system.attackData.attackType "passive") (eq system.attackData.attackType "talk"))}}
        <label for="potency" class="item-prop">{{localize "SMT.itemSheet.potency"}}</label>
        <div class="item-prop">
          <input type="number" id="potency" name="system.attackData.potency" value="{{system.attackData.potency}}" placeholder="0"
            data-dtype="Number" />
        </div>
        {{/unless}}
      </li>

      <li class="item flexrow">
        {{!-- Affinity --}}
        {{#unless (or (eq system.attackData.attackType "talk") (eq system.attackData.attackType "passive"))}}
        <label for="affinity" class="item-prop">{{localize "SMT.itemSheet.affinity"}}</label>
        <div class="item-prop">
          <select id="affinity" name="system.attackData.affinity">
            {{selectOptions SMT.attackAffinities localize=true selected=system.attackData.affinity}}
          </select>
        </div>
        {{/unless}}
        {{!-- Target --}}
        {{#unless (eq system.attackData.attackType "passive")}}
        <label for="target" class="item-prop">{{localize "SMT.itemSheet.target"}}</label>
        <div class="item-prop">
          <select id="target" name="system.attackData.target">
            {{selectOptions SMT.targets localize=true selected=system.attackData.target}}
          </select>
        </div>

        {{!-- Auto? --}}
        <label for="auto" class="item-prop">{{localize "SMT.itemSheet.auto"}}</label>
        <div class="item-prop">
          <input type="checkbox" id="auto" name="system.attackData.auto" data-dtype="Boolean" {{checked system.attackData.auto}} />
        </div>
        {{/unless}}
      </li>

      <li class="item flexrow">
        {{#unless (or (eq system.attackData.attackType "talk") (eq system.attackData.attackType "passive"))}}
        {{!-- Ailment --}}
        <label for="ailment-id" class="item-prop">{{localize "SMT.itemSheet.ailment"}}</label>
        <div class="item-prop">
          <select id="ailment-id" name="system.attackData.ailment.id">
            {{selectOptions SMT.ailments localize=true selected=system.attackData.ailment.id blank=(localize "SMT.none")}}
          </select>
        </div>
        {{!-- Ailment Rate --}}
        <label for="ailmentRate" class="item-prop">{{localize "SMT.itemSheet.ailmentRate"}}</label>
        <div class="item-prop">
          <input type="number" id="ailmentRate" name="system.attackData.ailment.rate" value="{{system.attackData.ailment.rate}}"
            placeholder="0" data-dtype="Number" {{ifThen system.attackData.ailment.id "" "disabled"}} />
        </div>
        {{/unless}}
        {{!-- Roll power? --}}
        {{#unless (or (eq system.attackData.attackType "talk") (eq system.attackData.attackType "passive"))}}
        <label for="hasPowerRoll" class="item-prop">{{localize "SMT.itemSheet.hasPowerRoll"}}</label>
        <div class="item-prop">
          <input type="checkbox" id="hasPowerRoll" name="system.attackData.hasPowerRoll" data-dtype="Boolean"
            {{checked system.attackData.hasPowerRoll}} />
        </div>
        {{/unless}}
      </li>

      {{!-- Attack Mods --}}
      {{#unless (or (eq system.attackData.attackType "talk") (eq system.attackData.attackType "passive"))}}
      <li class="item flexrow">
        <label for="highCrit" class="item-prop">{{localize "SMT.itemSheet.highCrit"}}</label>
        <div class="item-prop">
          <input type="checkbox" id="highCrit" name="system.attackData.mods.highCrit" data-dtype="Boolean"
            {{checked system.attackData.mods.highCrit}} />
        </div>

        <label for="pinhole" class="item-prop">{{localize "SMT.itemSheet.halfResist"}}</label>
        <div class="item-prop">
          <input type="checkbox" id="pinhole" name="system.attackData.mods.pinhole" data-dtype="Boolean"
            {{checked system.attackData.mods.pinhole}} />
        </div>

        {{#if enablePierce}}
          <label for="autoPierce" class="item-prop">{{localize "SMT.itemSheet.autoPierce"}}</label>
          <div class="item-prop">
            <input type="checkbox" id="autoPierce" name="system.attackData.mods.autoPierce" data-dtype="Boolean"
              {{checked system.attackData.mods.autoPierce}} />
          </div>
        {{/if}}
      </li>
      {{/unless}}

      <li class="item flexrow">
        {{!-- Inheritance Traits --}}
        <label for="inheritType" class="item-prop">{{localize "SMT.itemSheet.inheritType"}}</label>
        <div class="item-prop flex3">
          <input type="text" id="inheritType" name="system.inheritType" value="{{system.inheritType}}"
            placeholder="{{localize "SMT.none"}}" data-dtype="String" />
        </div>
      </li>
    </ol>
  </div>
</section>