<section class="details">
  <div class="items-list flexcol">
    <ol class="stat-list">
      <li class="item items-header">
        <div>{{localize "SMT.tabs.details"}}</div>
      </li>

      {{!-- Skill details --}}
      <li class="item flexrow items-header flex-group-center">
        {{!-- Phys Atk / Mag Atk / etc --}}
        <div class="item-prop">{{localize (concat "SMT.attackTypes." system.attackType)}}</div>
        {{!-- Cost --}}
        {{#unless (or (eq system.attackType "talk") (eq system.attackType "passive"))}}
        <div class="item-prop">{{localize "SMT.skillDetails.cost" cost=(ifThen system.cost system.cost "0")
           resource=(ifThen (eq system.attackType "phys") "HP" "MP")}}</div>
        {{/unless}}
        {{!-- Potency --}}
        {{#if system.includePowerRoll}}
        <div class="item-prop">{{localize "SMT.skillDetails.potency"
           potency=(ifThen system.potency system.potency "0")}}</div>
        {{/if}}
        {{!-- Affinity --}}
        <div class="item-prop">
          {{#if (eq system.attackType "passive")}}
          {{localize "SMT.skillDetails.affinity" affinity="—"}}
          {{else}}
          {{localize "SMT.skillDetails.affinity"
           affinity=(localize (concat "SMT.affinities." system.affinity))}}
          {{/if}}
        </div>
        {{!-- Target --}}
        {{#unless (eq system.attackType "passive")}}
        <div class="item-prop">{{localize "SMT.skillDetails.target"
           target=(localize (concat "SMT.targets." system.target))}}</div>
        {{/unless}}
        {{!-- TN/Auto --}}
        <div class="item-prop">{{ifThen system.auto (localize "SMT.itemSheet.auto")
          (localize "SMT.skillDetails.tn" tn=system.tn)}}</div>
        {{!-- Ailment/rate | Shatter rate --}}
        {{#if (eq system.affinity "force")}}
        <div class="item-prop">{{localize "SMT.itemSheet.shatterRate"}}</div>
        <div class="item-prop">{{system.shatterRate}}%</div>
        {{else}}
        {{#if system.ailment.id}}
        {{localize "SMT.itemSheet.ailmentDesc" ailment=ailment.id rate=ailment.rate}}
        {{/if}}
        {{/if}}
      </li>

      <li class="item items-header">
        <div>{{localize "SMT.itemSheet.effect"}}</div>
      </li>

      {{editor
        system.description
        target="system.description"
        editable=editable
        button=true
      }}
    </ol>
  </div>
</section>